/* General styling */
* {
    padding: 0;
    margin: 0;
    font-family: monospace;
}

/* Nav bar styling */
#nav {
    list-style: none;
    background: #505050;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 10vh;
}

#nav li {
    display: inline-block;
    position: relative;
}

.nav-item {
    display: block;
    padding: 1.5rem 25px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}
.nav-item:hover {
    background: #999999;
}

/* Index styling */
#index-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    font-size: xx-large;
}